.navbar{
    background-color: #333;
    /* border: solid rgb(253, 253, 237) 1px; */
   
  }
  .navbar-form input[type="search"]{
    width: 350px;
    border-radius: 30px;
    color: #353535;
    height: 35px;
    font-family: font-family: Splice-Sans,Avenir,Arial,Helvetica,sans-serif;
    font-size:14px;
    font-weight:700;
    background-color:#e9e9e9;
  }

  .navbar-header{
    margin-left:85px;
  }
  .nav{
      margin-right: 120px;
      
  }
  .select{
      height: 31px;
  }
  .nav li a{
    color: #f1f1f1;
  }
  .navbar-header a{
    color: #f8f0f0;
    font-size: 12px;
    font-family: "Lucida Grande",Verdana,Geneva,Helvetica,Arial,sans-serif;
    font-weight:300;
    /* line-height:30px;
     */
  }
  .container-fluid{
    background-color:#e2dcc5;
    
  }
  #kepala{
      background-color: #035a8c;
      height:55px;
  }
 label1{
     font-weight: 700;
 }
 .smaller-lighter{
     font-size: 11px;
     font-weight: normal;
 }
  a .menu-collapsed{
    color: #131111;
  }
  #body-row {
        margin-left:0;
        margin-right:0;
    }

  
    .logo-separator {
        background-color: #333;    
        height: 60px;
    }
  
    .col{
      background-color:#e2dcc5;
      
    }
  /* ini adalah video card css */
 .page-footer{
     width: 917px;
     background-color: #e2dcc5;
     height: 100%;
 }
.footer-copyright{
    font-size: 11px;
}

.header{
    background-color: #0e0d0a;
    width:917px;
}
.navigasi{
    background-color: #e2dcc5;
    width: 100%;
}

@media (min-width: 960px)
.header-bar {
    margin: 20px auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}
@media only screen and (min-width: 30em)
.header-bar {
    margin: 0 auto;
}
.header-bar {
    max-width: 960px;
    min-width: 300px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    flex-direction: row;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

* {
    box-sizing: border-box;
}
user agent stylesheet
article, aside, footer, header, hgroup, main, nav, section {
    display: block;
}
.dropbtn {
    background-color: #e2dcc5;
    color: #030303;
    padding: 8px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    margin-top: 20px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  /* .dropdown:hover .dropbtn {background-color: #e2dcc5;;} */
